@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Mada:wght@300;500;600&family=Poppins:wght@400;600;800&display=swap');   
*{
    margin: 0;
    padding: 0;
    --principal: #d7094a;
    --secundario: #fa84a9;
}
body {
    background-color: #f2f2f2;
}
.contenedor-total {
    background-color: #ffffff;
    max-width: 1400px;
    margin: 0 auto;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
p{
    font-family: 'Mada', sans-serif;
}
a{
    font-family: 'Mada', sans-serif;
    font-size: 1.2rem;
}
ul, li {
    list-style: none;
}
/* utilidades */
.contenedor {
    max-width: 73.25rem;
    margin: 0 auto;
}
@media only screen and (max-width: 768px){
    .contenedor {
        margin: 0 20px;
    }
}
/* Boton Hamburguesa */
.hamburguesa #menu_on{
	display: none;
	width:30px;
	height: 20px;
	position: relative;
	z-index: 2;
}
.hamburguesa #menu_on span{
	width: 100%;
	height: 4px;
	display: block;
	position: absolute;
	background: var(--principal);
	transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
	transform-origin : 0px 100%;
}
.hamburguesa #menu_on span:nth-child(2){
	top: calc(50% - 2px);
}
.hamburguesa #menu_on span:nth-child(3){
bottom: 0;
}
.visible_menu span:nth-child(1){
	transform: rotate(45deg) translate(-2px,1px); 
}
.visible_menu span:nth-child(2){
	opacity: 0;
}
.visible_menu span:nth-child(3){
	transform: rotate(-45deg) translate(-3px,3px); 
}
@media only screen and (max-width:768px) {
    .hamburguesa #menu_on{
        display: inline-block;
    }
}
/* Menu lateral */
.menu-lateral{
	position: fixed;
	top: -200px;
	bottom: 0;
	left: 0px; /* Escondemos nuestro menú con un valor negativo */ 
	width: 100%;
    height: 185px;
	padding: 90px 0 0 0;
	background: #ffffff;
	opacity: 0;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
}
.menu-lateral ul li a{
    margin-left: 0;
	display:block;
	text-decoration: none;
	padding: 10px 20px;
	border-bottom: 1px solid var(--principal);
	transition: all ease 0.25s;
    color: var(--principal);
}
.menu-lateral ul li:first-child{
    border-top: 1px solid var(--principal);
}
.menu-lateral ul li a:hover{
    background-color: var(--secundario);
	color: rgba(255,255,255,1);
	border-bottom-color:rgba(255,255,255,0.4);
}
.visible_menu .menu-lateral{
	top: 0;
	opacity: 1;
}
.visible_menu #content{
    transform: translatey(260px);
}
/* Header */
.navbar-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    position: fixed;
    margin: 0 15px;
    color: var(--principal);
    text-decoration: none;
    position: relative;
    transition: color .3s ease-in-out;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    background-color: var(--principal);
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}  
.navbar a:hover {
    color: var(--principal);
}
.navbar a:hover::before {
    transform: scaleX(1);
} 
.navbar a:last-child{
    margin-right: 0;
}
@media only screen and (max-width:768px) {
    .navbar a{
        display: none;
    }
    .navbar a::before {
        width: 0%;
        height: 30px;
    } 
}
/* Inicio */
.inicio {
    display: inline-flex;
    width: 100%;
}
.inicio img{
    width: 100%;
    background-position: center center;
    background-size: cover;
}